<div class="container-fluid padding-all-0" >
  <div class="col-md-12 padding-all-0" dnd-list="twitter_users">
    <div class="col-md-4 padding-left-0" 
    ng-repeat="twitter_user in twitter_users">
      <div class="panel panel-default col-md-12 padding-all-0"  
      dnd-draggable="twitter_user"
      dnd-effect-allowed="move"
      dnd-moved="onMoved(twitter_users, $index)">
        <div class="panel-heading twitter-color-bg">{{twitter_user.userName}}</div>
          <div class="panel-body padding-all-0 body-color-bg">
            <div class="col-md-12 padding-all-0">
              <div class="col-md-12 tweet-box" 
              ng-repeat="twit in twitter_user.user_timeline | limitTo: displayCount">
                <h2>
                  Heading
                </h2>
                <p>{{twit.text}}</p>
                <p>Created at: {{twit.created_at | date:'MM/dd/yyyy H:mm:ss'}}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
